:root {
    --font-size: calc(0.8vw + 0.8vh);
    --color-text: rgb(255, 255, 255);
    --color-bg: #d11426;
    --size: 42vh;
    --gap: calc(var(--size) / 15);
    --duration: 79s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    align-content: center;
    overflow: hidden;
    max-width: 100vw;
    font-family: NDRSans, Lucida, sans-serif;
    font-size: var(--font-size);
    color: var(--color-text);
    background-color: var(--color-bg);
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: var(--gap);
    margin: 1rem 0;
    max-width: 100vw;
    min-height: 100vh;
}

.marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll-x var(--duration) linear infinite;
}

.marquee__group div {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    overflow: hidden;
    min-height: var(--size);
    
}

.marquee__group div img {
    border-radius: 0.5rem;
    overflow: hidden;
}

.marquee__group div h2 {
    fill: var(--color-text);
    text-align: center;
    font-weight: 100;
    padding: 0.2rem;
}

.aspect-16-9 {
    width: calc(var(--size) * 16/9);
}

.aspect-4-3 {
    width: calc(var(--size) * 4/3);
}

.aspect-3-2 {
    width: calc(var(--size) * 3/2);
}

.filter {
    filter: contrast(1.5) saturate(1.0) brightness(0.8);
}

@keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }

    to {
        transform: translateX(var(--scroll-end));
    }
}

